<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015667802128-qh06f4mgig0bgciem6pioajdbms1ubjb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015667802128-qh06f4mgig0bgciem6pioajdbms1ubjb</string>
	<key>API_KEY</key>
	<string>AIzaSyBGrkpD08_givuL-RZbxrD1fU3AyNpZFVE</string>
	<key>GCM_SENDER_ID</key>
	<string>1015667802128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Whooliday</string>
	<key>PROJECT_ID</key>
	<string>app-xcode-6ea40</string>
	<key>STORAGE_BUCKET</key>
	<string>app-xcode-6ea40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015667802128:ios:7f8f896b15b0ed3d2e0a95</string>
</dict>
</plist>